<div class="container friends-container">
  <div class="row">
    <% others.each do |user| %>
      <div class="col-md-3">
        <div class="card">
          <%= link_to user_path(user.id) do %>
            <img src="http://via.placeholder.com/250x250" alt="">
            <h3><%= "#{user.firstname} #{user.firstname}" %></h3>
          <% end %>

          <% friend_request = get_friend_request(user.id) %>
          
          <% if policy(friend_request).create? %>
          <%= link_to "Send Request", friend_requests_path(friend_id: user.id), method: :post, class: "btn btn-primary" %>
          <% end %>

          <% if policy(friend_request).destroy? %>
          <%= link_to "Cancel Request", friend_request_path(id: user.id), method: :delete, class: "btn btn-danger" %>
          <% end %>
          <%= link_to "Accept Request", user_path(user.id), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
