<div class="container">
    <div class="row">
      <div class="col-md-3 profile-col">
        <img src="images/ic_account_box_black_24dp_2x.png" alt="">
        <h3><a href="#">Firstname Lastname</a></h3>

        <div class="panel panel-default">
          <div class="panel-heading">About Me</div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur  minim veniam,onsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Contact Info</div>
          <div class="panel-body"><%= @user.email %></div>
        </div>

        <button class="btn btn-primary">See Friends</button>
      </div>
      <div class="col-md-9 posts-col">
        <%= link_to "Create a post", new_post_path, class: 'btn btn-success btn-lg' %>

        <!-- Posts Partial -->
        <div class="posts">
          <% @posts.each do |post| %>
            <div class="post">
              <div class="post-header">
                <img src="images/ic_account_box_black_24dp_2x.png" alt="">
                <h3><a href="#"><%= post.user.firstname << " " << post.user.lastname %></a></h3>
                <%= link_to "See More", post_path(post.id), class: 'pull-right' %>
              </div>
              <div class="post-body">
                <p><%= post.content %></p>
              </div>
              <hr>
              <div class="post-footer">
                <div class="footer-icon">
                  <i class="material-icons">thumb_up</i>
                  <span>7</span>
                </div>
                <div class="footer-icon">
                  <i class="material-icons">mode_comment</i>
                  <span>7</span>
                </div>
                <div class="footer-icon pull-right">
                  <i class="material-icons">delete</i>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
