<div class="container">
    <div class="row">
      <div class="col-md-3 profile-col">
        <img class="avatar" src="http://via.placeholder.com/48x48" alt="avatar">
        <h3><%= "#{@user.firstname} #{@user.lastname}" %></h3>

        <div class="panel panel-default">
          <div class="panel-heading">About Me</div>
          <div class="panel-body">
            <% if @user.bio %>
              <%= @user.bio %>
            <% else %>
              <%= link_to "Write something about yourself", edit_user_path(@user.id)  %>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Contact Info</div>
          <div class="panel-body"><%= @user.email %></div>
        </div>

        <%= link_to friends_path(@user.id) do %>
          <button class="btn btn-primary">See Friends</button>
        <% end %>
      </div>
      <div class="col-md-9 posts-col">
        <%= link_to "Create a post", new_post_path, class: 'btn btn-success btn-lg' %>

        <div class="posts">
          <% @posts.each do |post| %>
            <%= render 'posts/show', post: post, like: like(post.id) %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
