<!-- main section -->
  <div class="container">

  <%= render 'posts/show', post: @post, like: @like %>

  <div class="post-comments">
    <!-- input field for a comment -->
    <div class="comment new" id="post-comment-form">
      <img src="http://via.placeholder.com/48x48" alt="">
      <%= form_for(@comment, html: { class: 'form-inline', method: 'post' }, url: comments_path) do |f| %>
        <%= f.hidden_field :post_id %>
        <input class="form-control" type="text" name="comment[content]" placeholder="add comment">
        <button class="btn btn-primary" type="submit">Comment</button>
      <% end %>
      <hr>
    </div>

    <!-- Regular comments -->
    <% @comments.each do |comment| %>
    <div class="comment">
    <%= link_to user_path(current_user.id) do %>
      <img class="avatar" src="http://via.placeholder.com/48x48" alt="avatar">
    <% end %>
      <p><%= comment.content %></p>
      <span class="comment-time"><%= time_ago_in_words(comment.created_at) << " ago" %></span>
      <hr>
    </div>
    <% end %>
  </div>
</div>
