<!-- main section -->
  <div class="container">

  <div class="post">
    <div class="post-header">
    <%= link_to user_path(current_user.id) do %>
      <img class="avatar" src="http://via.placeholder.com/48x48" alt="avatar">
      <h3><%= @post.user.firstname << " " << @post.user.lastname %></h3>
    <% end %>
    </div>

    <div class="post-body">
      <p><%= @post.content %></p>
    </div>

    <hr>
    <div class="post-footer">
      <div class="left-controls">
        <div class="footer-icon">
          <%= link_to like_post_path(like: {post_id: @post.id}), method: :post do %>
            <i class="material-icons">thumb_up</i>
          <% end %>
          <span><%= @post.likes.length %></span>
        </div>
        <div class="footer-icon">
          <i class="material-icons">mode_comment</i>
          <span><%= @post.comments.length %></span>
        </div>
      </div>
      <div data-toggle="modal" data-target="#delete-post-modal" class="footer-icon pull-right">
        <i id="delete-post" class="material-icons">delete</i>
      </div>
    </div>
  </div>

  <div class="post-comments">
    <!-- input field for a comment -->
    <div class="comment" id="post-comment-form">
      <img src="http://via.placeholder.com/48x48" alt="">
      <%= form_for(@comment, html: { class: 'form-inline', method: 'post' }, url: comments_path) do |f| %>
        <%= f.hidden_field :post_id %>
        <input class="form-control" type="text" name="comment[content]" placeholder="add comment">
        <button class="btn btn-primary" type="submit">Comment</button>
      <% end %>
      <hr>
    </div>

    <!-- Regular comments -->
    <% @comments.each do |comment| %>
    <div class="comment">
    <%= link_to user_path(current_user.id) do %>
      <img class="avatar" src="http://via.placeholder.com/48x48" alt="avatar">
    <% end %>
      <p><%= comment.content %></p>
      <span class="comment-time"><%= time_ago_in_words(comment.created_at) << " ago" %></span>
      <hr>
    </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-post-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="{ display: inline-block; }">Delete?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this post?</p>
      </div>
      <div class="modal-footer">
      <%= form_for(@post, html: { class: 'form', method: "delete" }, url: post_path) do |f| %>
        <button type="submit" class="btn btn-danger pull-right">Delete</button>
      <% end %>
      </div>
    </div>
  </div>
</div>
