<nav>
 <div class="container">
   <% if user_signed_in? %>
    <%= link_to "Fakebook", authenticated_root_path, id: "logo", class: "logo-authenticated" %>
   <% else %>
    <%= link_to "Fakebook", unauthenticated_root_path, id: "logo" %>
   <% end %>

   <ul class="nav navbar-nav navbar-right">
     <% if user_signed_in? %>
       <div class="navbar-right">
         <div class="navbar-right-links">
           <a href="#">Find Friends</a>
           <i class="material-icons">notifications</i>
           <img class="avatar" src="images/ic_account_box_black_24dp_2x.png" alt="avatar">
           <div class="nav-item dropdown">
            <i class="material-icons" id="dropdown-toggle">keyboard_arrow_down</i>
            <div id="dropdown-content" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
            </div>
          </div>
         </div>
       </div>
     <% else %>
       <div class="navbar-right">
         <%= form_for(resource, as: resource_name, html: { class: "form-inline" }, url: session_path(resource_name)) do |f| %>
           <div class="form-group">
             <%= f.label :email %>
             <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
           </div>
           <div class="form-group">
             <%= f.label :password %>
             <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
           </div>
           <button type="submit" class="btn btn-primary mb-2">Log In</button>
           <br>
           <% if devise_mapping.rememberable? -%>
             <div class="checkbox">
               <label><input type="checkbox" value="remember">Remember Me</label>
             </div>
           <% end -%>
         <% end %>
       </div>
     <% end %>
   </ul>
 </div>
</nav>
